<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      background: #CCCCCC;
      font-family: 'Poppins', monospace;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;      
    }

    .container {
      width: 50%;
      min-height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background: white;
      padding: 10%;
      gap: 10%;
    }

    p {
      text-align: center;
    }
  </style>

  <div class="wrapper">
    <div class="container">
      <p>Senha redefinida com sucesso.</p>
    </div>
  </div>

</body>
</html>